<%- include('headerGlobal'); -%>
<%- include('headerSortBar'); -%>

<div class = "container">
  <div class ="row justify-content-center">
    <div class="card px-0" style="width: 90vw;">
      <ul class="list-group list-group-flush">
        <p></p>
        <p></p>
        <h3 class = "text-center">Index of Birdie Watchings</h3>
        <p></p>

<% results.forEach((result) => { %> 
        <li class="list-group-item px-0">
          <div class="row">
            <div class="row">
              <div class="col">
                <a href = "./note/<%= result.id  %>"><u>Bird Spying ID: <%= result.id %></u></a>
              </div>
            </div>   
            <div class="row">
              <div class ="col-auto"><%= result.date %></div> |
              <div class ="col-auto">Flock of <%= result.flock_size %></div> 
            </div>    
            <div class="row">
              <div class ="col-10"><i><%= result.behaviour %></i></div>
              <div class ="col-2 text-end">
                <form action="/note/<%=result.id%>?_method=DELETE" method="POST">  
                  <button type="submit" class="btn-sm">Del</button>
                </form>  
              </div>
            </div>   
          </div>
        </li>
<% });%>
      </ul>
    </div>
  </div>
</div>
<%- include('footer'); -%>