<%- include('headerGlobal'); -%>
<h1 class="topSpacer"><p></p>.</h1>
  
  </div>
</div>
<p></p>
<div class="container ">
  <div class="row justify-content-center">
    <div class="card " style="width: 90vw;">
      <ul class="list-group list-group-flush">
        <p></p>
         <h2 class="text-center">New Sightings Form: </h2>
        <li class="list-group-item ">
          <div class="row justify-content-center">
            <div class="row px-0 ">
              <div class ="col-12 px-0">
                <form action="/note" method="POST">
                  <div>
                    <label for="date" class="mb-3"><b>Date :</b></label>  
                    <input type="date" name="date" id="date" class="dateTime" value="YYYY-MM-DD">
                  </div>
                  <div>
                    <label for="species_id" class="mb-3"><b>Species :</b></label>  
                    <select name="species_id">
                      <% species.forEach((specie) => { %>
                        <option value="<%= specie.id %>"><%= specie.name %> [ <%= specie.scientific_name%> ]</option>  
                        <% }); %>
                    </select>
                  </div>   
                  <div>
                  <label for="flock_size" class="mb-3"><b>Flock Size:</b></label>  
                    <input type="number" name="flock_size" id="flock_size">
                  </div>
                  <div>
                    <% behaviours.forEach((behaviour) => { %>
                    <label> <%= behaviour.activity %></label>
                      <input type="checkbox" name="behaviour_ids" value="<%=  behaviour.id %>" /> </br>
                    <% }); %>   
                  </div>

                  <div> 
                  <input type="hidden" name="created_Date" value="created-<%= Date() %>"></div>
                  <div class="row justify-content-center">
                    <div class="col-auto"><input type="submit" value="Submit"></div>
                  </div> 
                </form>
              </div> 
            </div>     
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<%- include('footer'); -%>