<%-include('headerGlobal');-%>
<h1 class="topSpacer"><p></p>.</h1>
<h4 class="topSpacer"><p></p>.</h4>
<div class="container ">
 <p></p>
  <div class="row justify-content-center">
    <div class="card " style="width: 90vw;">
      <div class="text-center">
        <p></p>
        <h2>Sighting ID: <%= index %></h2>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item ">
          <div class="row justify-content-center">
            <div class="row px-0 ">
              <div class ="col-12 px-0">
                <div><b>Date:</b> <%= date %></div>
                <div><b>Common Species Name:</b> <%= speciesName %></div>
                <div><b>Scientific Species Name:</b><i> <%= scienName %></i></div>
                <div><b>Flock Size:</b> <%= flockSize %></div>
                <div><b>Behaviour:</b></div> <% behaviours.forEach((behaviour) => { %>
                <div> <%= behaviour %>,</div>  
                <% }); %>   
                <div><b>Logged by User email:</b> <%= logger %></div>

                <p></p>
                <p></p>
<!--                 <div class ="timeStmpTxt">  <%= /*sighting.created_Date */ %> *</div>
              </div>  -->
              <div class ="row">
                <div class ="col-12 d-flex justify-content-end">
                        <form action="/note/<%=index%>/edit" method="GET">  
                  <button type="submit" class="btn-sm">EDIT</button>
                </form>  
                </div>
              </div>

              <!-- COMMENTS ENTRY -->
              <form action=":noteId/comment" method="POST">
              <p></p>
              <div>
                <!-- <label for="comments" class="mb-1"><b>Comments</b></label> -->
                <br>   
                <textarea name ="comments" id="comments" class="txtBox mb-3" placeholder="key in your comments here"></textarea>   
              </div>
              <div>
                <input type="hidden" name="created_Date" value="created-<%= userId %>">
              </div>
              <div class="d-flex justify-content-end">
                <input type="submit" value="Submit">
              </div>
              <!-- <div class="d-flex justify-content-end">
                <label for="commenter" class="mb-1x">Comment by: </label>
                <input type="text" name="commenter" id="commenter">
              </div> -->
              </form>
              <!-- COMMENTS DISPLAY -->
              <p></p>
<!--               <div>
                <div class ="cmtsCrdt"><i>by: <%= /* userId */ %>:</i></div>
              <b>Comments</b>:</b><br> <%=  %>
              </div> -->

            </div>     
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<%-include('footer')-%>